<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>Twinkle-Bank</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<h1>계좌개설</h1>
<form action="http://j10a309a.p.ssafy.io:8080/api/account-register" method="post">
    <div class="form-group">
        <label for="username">아이디</label>
        <input type="text" name="username" id="username" placeholder="아이디를 입력하세요.">
    </div>
    <div class="form-group">
        <label for="password">패스워드</label>
        <input type="password" name="password" id="password" placeholder="패스워드를 입력하세요.">
    </div>
    <div class="form-group">
        <label for="name">계좌명</label>
        <input type="text" name="name" id="name" placeholder="계좌명을 입력하세요.">
    </div>
    <button type="submit">개설하기</button>
    <a href="/">뒤로가기</a>
</form>
</body>
</html>