<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>Twinkle-Bank</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<div style="position: relative; display: inline-block;">
    <div style="position: absolute; bottom: 0; left: 0; background-color: white; padding: 10px;">
        Trip Together 로그인을 위해서는 반드시 <a href="https://j10a309a.p.ssafy.io/api/">반짝 은행 서비스</a>에서
        회원 가입 후, 계좌 개설을 완료해주셔야 합니다.
    </div>
    <img src="https://triptogether.s3.ap-northeast-2.amazonaws.com/qrdownload/9.png" alt="image">
</div>
<a href="/home/ubuntu/jenkins/workspace/trip-dev/apk/app-debug.apk">App Download</a>
<img src="https://triptogether.s3.ap-northeast-2.amazonaws.com/qrdownload/22.png" alt="image">
<img src="https://triptogether.s3.ap-northeast-2.amazonaws.com/qrdownload/23.png" alt="image">
<img src="https://triptogether.s3.ap-northeast-2.amazonaws.com/qrdownload/24.png" alt="image">
<img src="https://triptogether.s3.ap-northeast-2.amazonaws.com/qrdownload/25.png" alt="image">
</body>
</html>
